

#logo {

    width: 130px;
    margin: 0;
}

.caja{
    background-color: aqua;
    width: 85vw;
}

.principal{
    min-height: 94vh;
}

.alto-min-85{
    min-height: 100vh;
}

.ancho-min-85{
    min-width: 85%;
}

.img-perfil{
    width: 200px;
}



.ancho-min-100{
    min-width: 100%;
}

.bg-jumbotron{
   background-image: url(../img/frascos.jpg);
   background-size: cover;
   background-position-y: -60px ;
   height: 200px;   
}

.jumbotron{
    height: 100vh;
}


@media screen and (min-width:990px){

    .bg-jumbotron{
        background-image: url(../img/frascos.jpg);
        background-size:cover;
        background-position: -170px 0px;
        
        
        
        height: 94vh;
        /* margin: -2px 0 0 -300px; */
        
     }

     .img-producto{
        
        height: 310px;
        
    }

     .img-central{
        position: absolute;
        width: 50vw;
     }

     .ancho-tarjeta{
        width: 15vw;
    }


}



