#logo {

    width: 110px;
    margin: 0px 0 0px;
}

.bg-jumbotron{
   background-image: url(../img/frascos.jpg);
   background-size: cover;
   background-position-y: -60px ;
   height: 200px;   
}


@media screen and (min-width:990px){

    .bg-jumbotron{
        background-image: url(../img/frascos.jpg);
        background-size: cover;
        background-position: 0px 0px;
        
        height: 100vh;   
        /* margin: -2px 0 0 -300px; */
        align-content: center;
     }
}



